<template>
<div>
  <div class="ui row " id="searchapp">
      <div class="ui huge fluid icon input">
          <input type="text" placeholder="Search for your song" id="search" value="" v-model="searchtrack" v-on:keyup.enter="keymonitor">
          <button class="ui button primary" v-bind:class="{ loading : isActive }" v-on:click="searchTracks"> Search Tracks</button>
      </div>
      <small id="output">{{ message }}</small>

      <div class="ui middle aligned divided list">
        <div class="item" v-for="song in songs" >
            <div class="right floated content">
              <div class="ui button green" v-on:click="addSongToPLayList(song)">Add</div>
            </div>
            <img class="ui avatar  image" v-bind:src="song.images[3]"   v-if="song.images.length">
            <div class="content">
              {{ song.artistName }} -  {{ song.name }}
            </div>
          </div>
      </div>
  </div>

</div>
</template>

<script>
import LastFM from "last-fm";

export default {
  data() {
    return {
      playlistID: this.playlistID,
      lastFm: {},
      searchtrack: [],
      songs: [],
      searchterm: "",
      isActive: false,
      message: ""
    };
  },

  mounted() {
    this.setupLastFm();
  },

  created() {
    Event.$on("alreadyAddedTrack", message => {
      this.message = message;
    });
  },

  watch: {
    searchtrack: function() {
      this.searchTracks();
      if (this.searchtrack.length <= 0) {
        this.songs = [];
        this.message = "";
      }
    }
  },

  methods: {
    searchTracks() {
      if (this.searchtrack.length > 4) {
        this.isActive = true;
        this.lastFm.trackSearch(
          { q: this.searchtrack, limit: 10 },
          (err, data) => {
            if (err) {
              console.error(err);
            } else {
              this.songs = data.result;
              this.isActive = false;
              //console.log(this.songs);
            }
          }
        );
      }
    },

    getTrackInfo(artist, trackname) {
      console.log(artist, trackname);
      this.lastFm.trackInfo(
        { name: trackname, artistName: artist },
        (err, data) => {
          if (err) {
            console.error(err);
          } else {
            //console.log("track info :: ",data);
          }
        }
      );
    },

    keymonitor(event) {
      this.searchTracks();
      this.message = "";
    },

    setupLastFm() {
      this.lastFm = new LastFM("58345b85118c8ecb5f29be4cd4c99c58");
    },

    addSongToPLayList(track) {
      const index = this.songs.indexOf(track);
      this.songs.splice(index, 1);
      this.message = "";

      axios
        .post("/tracks/store", {
          artist_name: track.artistName,
          track_name: track.name,
          image: track.images[3],
          duration: track.duration,
          type: track.type,
          playlist_id: 1
        })
        .then(function(response) {
          Event.$emit("updatePlaylist");

          if (response.data.error) {
            Event.$emit("alreadyAddedTrack", response.data.error);
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>
