<template>
 <div class="ui segment" v-if="songs.length">
    <div class="ui divided items" >
        <div class="item" v-for="song in songs">
          <div class="ui tiny rounded image">
            <img class="ui avatar image" 
            v-bind:src="song.image"   v-if="song.image"
            >
          </div>
          <div class="middle aligned content">
            <div class="header">
              {{ song.artist_name }} - {{ song.track_name }}
            </div>
            <div class="meta">
                Chosen By: @{{ song.user.name }}
              </div>
     
            <div class="extra">
                <div class="ui labeled button right floated " tabindex="0">
                    <div class="ui red button tiny" v-on:click="addLike(song)">
                      <i class="thumbs up icon"></i> Like
                    </div>
                    <a class="ui basic red left pointing label" v-if="song.likes">
                      {{ song.likes }}
                    </a>
                  </div>
            </div>
          </div>
        </div>
        
      </div>
      </div>
</template>

<script>
export default {
  data() {
    return {
      songs: [],
      likes: ""
    };
  },

  mounted() {
      Event.$on("updatePlaylist", section => {
        this.fetch();
    });
  },

  created() {

    this.fetch();
  },

  methods: {
    fetch() {
      axios.get("/tracks/all").then(({ data }) => {
        this.songs = data;
      });
    },

    addLike(song) {
      axios
        .post("/tracks/likes/add", {
          track_id: song.id,
          playlist_id: 1
        })
        .then(function(response) {
          song.likes = song.likes + 1;
          Event.$emit("updatePlaylist", song);
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>
