@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  font: 100% Helvetica, sans-serif;
  color: red;
  margin-top: 50px;
}

.footer-section {
  margin-top: 20px;
  border: 2px green solid;
}

