
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";



.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


body {
  font: 100% $font-stack;
  color: $primary-color;
  margin-top: 50px;

}

.footer-section{
  margin-top: 20px;
  border: 2px green solid;
}